a {
    width: 0.5rem;
    height: 0.5rem;
    background: red;
    border: 1px solid red;
}

@media screen and (max-width: 100px) {
    body {
        width: 0.5rem;
        height: 0.5rem;        
    }
}